# python-dotenv
# pandas
# numpy
# pymongo
# certifi
# pymongo[srv]
# scikit-learn
# mlflow
# pyaml
# dagshub
# fastapi
# uvicorn
# python-multipart


# ##-e . 

python-dotenv
pandas
numpy
pymongo>=4.0,<5.0
certifi
scikit-learn
mlflow
pyyaml
dagshub
fastapi
uvicorn
python-multipart


# uvicorn app:app --reload
